<div class="list">
  {{#each data.eventsArray}}
  <div class="meetup">
    <h2 class='name'>{{this.name}}</h2> <a href="{{this.event_url}}">Check this on MeetUp</a> <br>
    <span class='date-and-address'><span class="date">ON {{this.dateTime}}</span> ~ <span>AT {{this.address}}</span></span> <br>
    <p class='group'>BY {{this.groupurlname}}</p>

    <div class="description">
      {{this.description}}
    </div>

  </div>
  <div class="separation"><img src="http://s27.postimg.org/671s0yjir/point_blanc.png" alt="" /></div>
  {{/each}}
</div>


<div id='hiddenData' style='display:none'>{{data.hiddenData}}</div>

<div id='map'></div>

<script type="text/javascript" src="../../public/main.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{data.api_key}}&signed_in=true&callback=initMap"
    async defer></script>
