
<a href="/twitter" class="twitter-btn"><span>Twitter</span></a>


<div class="list">
    <div class='info-person'>
        <div class="pic-box">
            <img class='profile-pic' src="{{data.userObject.photo}}" alt="" />
        </div>
        <div class="text">
            <h2>Your name is {{data.userObject.name}} and you live in {{data.userObject.city}}</h2>
            <h3>(I'm sure you're really glad to know that)</h3>
        </div>
    </div>
  {{#each data.eventsArray}}
  <div class="meetup">
    <h2 class='name'>{{this.name}}</h2> <a class='meetup-btn' href="{{this.event_url}}">Check this on MeetUp</a> <br>
    <span class='date-and-address'><span class="date">ON {{this.dateTime}}</span> ~ <span>AT {{this.address}}</span></span> <br>
    <p class='group'>BY {{this.groupurlname}}</p>

    <div class="description">
      {{{this.description}}}
    </div>

  </div>
  <div class="separation"><img src="http://s27.postimg.org/671s0yjir/point_blanc.png" alt="" /></div>
  {{/each}}
</div>


<div id='hiddenData' style='display:none'>{{data.hiddenData}}</div>

<div id='map'></div>

<script type="text/javascript" src="../../public/main.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{data.api_key}}&signed_in=true&callback=initMap"
    async defer></script>
