<div class="list">
  {{#each data.eventsArray}}
  <div class="meetup">
  <h2 class='name'><em>{{this.name}}</em></h2> <a href="{{this.event_url}}">Check this on MeetUp</a> <br>
  <span class="date">ON {{this.dateTime}}</span> ~ <span>AT {{this.address}}</span> <br>
  <p class='group'>BY {{this.groupurlname}}</p>

  <div class="des">

   {{this.description}}
   </div>

  </div>
  <div class="separation"><img src="https://cdn2.iconfinder.com/data/icons/travel-set-1/512/24-512.png" alt="" /></div>
  {{/each}}
</div>

<div id='map'></div>

<script type="text/javascript" src="../../public/main.js"></script>
<script type="text/javascript" src="../../public/mapmarker.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{data.api_key}}&signed_in=true&callback=initMap"
    async defer></script>
