<a href="/map/meetup" class="twitter-btn"><span>Back to Map</span></a>   

<a id='twitter-anchor' class="twitter-timeline" href="https://twitter.com/hashtag/techMeetup" data-widget-id="707578815007080448">
  Tweets about #techMeetup
</a>
<script>
!function(d,s,id){
  var js,
  fjs=d.getElementsByTagName(s)[0],
  p=/^http:/.test(d.location)?'http':'https';
  if(!d.getElementById(id)){
    js=d.createElement(s);
    js.id=id;
    js.src=p+"://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js,fjs);
  }}
  (document,"script","twitter-wjs");
</script>
